.header-component{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    padding: 0px 20px;
    align-items: center;
    height: 7rem;
    z-index: 10;
    opacity: 1;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid #e6e3e3;
    
}

.header-image img{
    object-fit: contain;
    width: 8.5rem;
}
.input-container{
    border: 1px solid #d1cdcd;
    height: 2.5rem;
    width: 50%;
    text-align: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    display: flex;
    margin: 0px 80px;
    margin: 0rem 2rem;
    
   
  
}

.header-search-icon{
    float: left;
    margin: 0.7rem 0.5rem;
}
.input-container input{
    min-width: 10rem;
    max-width: 30rem;
    border: none;
    flex: 4;
    outline: none;
    background-color: #f8f8f8;
}

.header-select{
    min-width: 6rem;
    z-index: 15;
    margin: 0rem 1rem;
}
.dropdown{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
}
.dropbtn{
    display: inline-block;
   
    align-items: center;
    font-size: 0.8rem;
    
    color: #a09e9e;
}

.dropdown:hover{
    background-color: #fff;
}
.dropdown1{
   
   
    display: flex;
    align-items: center;
    position: relative;
    
    z-index: 15;
    width: 10%;
    padding: 1rem 1rem;
    justify-content: end;

    color: #a09e9e;
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 15px;
    z-index: 20;
    border: 1px solid #d1cdcd;
   
    background-color: #ffffff;
    text-align: start;
    
    border-radius: 0.5rem;

}
.dropdown-content1{
    display: none;
    position: absolute;
    border: 1px solid #d1cdcd;
    
    top: 35px;
    right: 0;
    z-index: 20;
    text-align: start;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
.dropdown-content a{
    display: flex;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1rem;
    
    margin: 1rem;
}

.dropdown-content1 a{
    display: flex;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1rem;
    
    margin: 1rem;
}

.dropdown-content1 a input{
    
    background-color: #ffffff;
    border: none;
    width: 80%;
    height: 2rem;
    outline: none;
}
.dropdown-search {
   
    border: 1px solid #d1cdcd;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;

}
.dropdown-search input{
    width: 100%;
    height: 2rem;
}
.dropdown-search:hover{
    border: 1px solid lightblue;
}

.dropdown-content a input{
    width: 8rem;
    background-color: #ffffff;
    border: none;
    outline: none;
}
.dropdown:hover .dropdown-content,
.dropdown1:hover .dropdown-content1   {
    display: block;
    
  }

  
.header-ilan-bar{
    margin: 0rem 1rem;
    height: 2.7rem;
    background-color: #15214a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    color: white;
    border-radius: 0.3rem;
}

.ilan-ver-bar{
    display: flex;
    align-items: center;
    justify-content: center;
   
    cursor: pointer;
}
.ilan-ver-bar button{
    background-color: #15214a;
    border: none;
    outline: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
}
.ilan-icon{
    color: #ffffff;
    margin-top: 0.2rem;
    
    
}
.header-login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}
.header-login:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}
.login-text{
    text-align: center;
    font-size: 0.9rem;
    color: #525050;
    
}
.header-menu-bar{
    display: none;
}
.nav-menu1,
.nav-menu1.active{
    right: -400px;
}

 @media only screen and (max-width: 500px ){
    .nav-menu1 {
        
        width: 250px !important;
        
    }
 }
 @media only screen and (min-width: 900px ){
    .nav-menu1,
    .nav-menu1.active{
       display: none;
    }
 }
 

@media only screen and (max-width: 900px ) {
    .input-container{
        display: none;
    }
    .header-login{
        display: none;
    }
    
    .header-select{
        display: none;
    }
    .header-ilan-bar{
        margin: 0rem 8rem;
        display: none;
    }
    .header-component{
        
        align-items: center;
        justify-content: space-between;
        display: flex;  
    }
    .active {
        right: 0;
        transition: 350ms;
    }
    .nav-menu1 {
        background-color: white;
        width: 400px;
        height: 100vh;
        top: 20px;
        display: flex;
        position: fixed;    
        flex-direction: column;
        right: 0;
        transition: 850ms;
    }
    .header-login1{
        display: flex;
        padding: 1rem;
        justify-content: start;
        align-items: center;
        text-align: start;
        
    }
    
    .bar-header{
        display: flex;
        width: 100%;
        
    }
    .bar-header div {
        flex: 1;
        text-align: end;
    }
    .bar-header img{
        width: 10rem;
    }
    .bar-icon{
        right: 0;
    }
    
    .header-menu-bar{
        display: block;
        margin: 0rem 2rem;
    }
    .input-container1 input{
        
        
        border: none;
        border-right: 1px solid #f8f8f8;
        width: 100%;
        display: flex;
        align-items: center;
        outline: none;
        background-color: #f8f8f8;
        margin: 0.6rem 0rem;
       
    
    }
    .input-container1{
        border: 1px solid #d1cdcd;
        height: 2.5rem;
        width: 90%;
        
        background-color: #f8f8f8;
        border-radius: 0.5rem;
        display: flex;
        text-align: center;
        justify-content: end;
        margin: 2rem 1rem;
      
    }
    .input-container2{
        border: 1px solid #d1cdcd;
        height: 2.5rem;
        width: 90%;
        
        background-color: #f8f8f8;
        border-radius: 0.5rem;
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin: 2rem 1rem;
      
    }


    .mainmenubtn,
    .mainmenubtn2 {
        background-color: #f8f8f8;
        color: rgb(158, 158, 158);
        border: none;
        height: 100%;
        width: 100%;
        border-left: 1px solid #b4b4b4;
        cursor: pointer;
        display: flex;
        align-items: center;
        
      }
     
      .dropdown2 {
        position: relative;
        display: inline-block;
        z-index: 10;
        
      }
      .dropdown3 {
        position: relative;
        display: inline-block;
        
      }
      .dropdown-child2 {
        display: none;
        background-color: white;
        
      }
      .dropdown-child{
        display: none;
        
        background-color: white;
        
      }
      .dropdown-child a,
      .dropdown-child2 a  {
        color: black;
        padding: 10px;
        text-decoration: none;
        text-align: start;
        display: block;
      }
      .dropdown-child a input,
      .dropdown-child2 a input{
          width: 90%;
          height: 2rem;
          border-radius: 0.5rem;
          border: none;
          outline: none;
          background-color: rgb(230, 228, 228);
      }
      .dropdown3:hover .dropdown-child2{
        display: block;
        width: 13rem;
        margin-right: -5rem;
        position: relative;
        top: 15px;
      }
      .dropdown2:hover .dropdown-child {
        display: block;
        width: 13rem;
        margin-right: -18rem;
        margin-left: -7rem;
      }

      .header-ilan-bar1{
        margin: 0rem 1rem;
        height: 2.7rem;
        background-color: #15214a;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 6rem;
        color: white;
        border-radius: 0.3rem;
    }
    
    .ilan-ver-bar1{
        display: flex;
        align-items: center;
        justify-content: center;
       
        cursor: pointer;
    }
    .ilan-ver-bar1 button{
        background-color: #15214a;
        border: none;
        outline: none;
        color: white;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 0.01rem;
    }
    .ilan-icon1{
        color: #ffffff;
        
        
        
    }
}